## Hostgroups services ##

# Check that web services are running
define service {
  hostgroup_name                  http-servers
  service_description             HTTP
  check_command                   check_http
  use                             generic-service
  notification_interval           0
}

# Check that ssh services are running
define service {
  hostgroup_name                  ssh-servers
  service_description             SSH
  check_command                   check_ssh
  use                             generic-service
  notification_interval           0
}

# Check that ping-only hosts are up
define service {
  hostgroup_name                  ping-servers
  service_description             PING
  check_command                   check_ping!100.0,20%!500.0,60%
  use                             generic-service
  notification_interval           0
}

## Individual hosts services ##

# To show how to monitor a service in a single host, the ftp service and the mail service are written for each individual host.

# Services for the mail server (check: pop, imap, pops, imaps and smtp).
